{% extends 'base.html.twig' %}

{% block body %}
    <div id="cheese-app"></div>
{% endblock %}

{% block javascripts %}
    <script>
        window.user = {{ user|raw }};
        window.entrypoint = '{{ path('api_entrypoint') }}';
    </script>

    {{ parent() }}
{% endblock %}
